<% provide :title, 'サインアップ' %>
<% provide :button_text, 'サインアップ' %>
<div class="row justify-content-center" id="form-row">
  <div class="col-5">
    <h1><%= 'サインアップ'%></h1>
    <%= render "form" %>
  </div>
</div>
