<div class="row well hotel">
    <div class="col-sm-6 hotel-img">
        <%= link_to image_tag("hotel.jpg", alt: "hotel logo")%>
    </div>
    <div class="col-sm-6 hotel-information">
        <h2><%=link_to hotel.name, hotel %></h2>
    </div>
</div>
