<div class="row">
    <div class="col-sm-3 sidebar">
        <div class="row">
            <div>
                <h2>設備やサービス</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <h2>レート</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <h2>ホテルクラス</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 info" >
      <%= render @hotels %>
      <%= paginate @hotels%>
    </div>
</div>
